{% extends "base.html" %}

{% block title %}Stock Searched List{% endblock %}

{% block masthead %}
    <div id="masthead">
        <tr>
            <td><h3>검색 한 종목</h3></td>
            {% for stock in stocks %}
                <form action="detail" method="post">
                    <input type="submit" name="name" value="{{ stock.name }}"
                           onclick="location.href='{% url 'stock:stock_detail' %}'">
                </form>
                <br><br>
            {% endfor %}
        </tr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}