{% extends "base.html" %}

{% block title %}
    StockUp
{% endblock %}

<script type="text/javascript">
    document.getElementById('search').onclick = () => {
        search_btn();
    }

    function search_btn() {
        location.href = 'search/';
    };
</script>

{% block masthead %}
    <header id="masthead" class="masthead text-white text-center">
        <div id="main" class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">당신이 원하는 종목을 검색해주세요!</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form action="" method="post">
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0">
                                <input type="text" name="symbol" class="form-control form-control-lg"
                                       placeholder="Search for company symbols">
                            </div>
                            <div class="col-12 col-md-3">
                                <input type="submit" value="Search"
                                       class="btn btn-block btn-lg btn-primary">
                            </div>
                            <li> ex) AAPL(APPLE),&nbsp;&nbsp;&nbsp;TSLA(TESLA),&nbsp;&nbsp;&nbsp;NFLX(NETFLIX),&nbsp;&nbsp;&nbsp;005930.KS(SAMSUNG)</li>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block grid %}
    <section id="gird" class="features-icons bg-light text-center">
        <div id="grid" class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-layers m-auto text-primary"></i>
                        </div>
                        <h3>검색 결과</h3>
                        <p class="lead mb-0">현재 검색 결과 간단 정보</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-icon d-flex"></div>
                    <p class="lead mb-0">
                        Symbol&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ stocks.symbol }}</p>
                    <p class="lead mb-0">
                        Name&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ stocks.name }}</p>
                    <p class="lead mb-0">
                        Price&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ stocks.price }}</p>
                    <p class="lead mb-0">
                        Open&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ stocks.open }}</p>
                    <p class="lead mb-0">
                        Day_Min&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ stocks.day_min }}</p>
                    <p class="lead mb-0">
                        Day_Max&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ stocks.day_max }}</p>
                    <p class="lead mb-0">
                        Volume&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ stocks.volume }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}